mat-grid-tile {
  background: lightblue;

}
.btn-group button {
  background-color: black; /* Green background */
  border: 1px solid black; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}
.toolbar-left {
  background-color: transparent; /* Green background */
  border: 1px solid transparent;
  color: white; /* White text */
  padding: 10px 10px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  display: block;
  position: absolute;
  width: 100px;
  top: 5px;
  left: 5px;
}
